.footerStyle {
    width: 100%;
    background-color: rgb(200,200,200);
    height: 10vh;
    color: black;
    position: fixed;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}