.navStyle{
    width: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
    height: 5vh;
    background-color: rgb(200,200,200);
    div {
        width: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
    }
}